.container-homepage {
	display: table;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
}

.card-homepage {
	margin-top: 25px;
	margin-bottom: 25px;
	cursor: pointer;
	transition: 0.5s;
}

.card-homepage p {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.link-homepage,
.link-homepage:hover,
.link-homepage:focus,
.link-homepage:active,
.link-homepage:visited {
	color: inherit;
	text-decoration: none;
}

.card-homepage:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	transform: translateY(-5px);
	transition: 0.5s;
}

[data-theme='light'] .card-homepage {
	background-color: #fff;
	color: #333;
	border: 1px solid #ccc;
}

.card-homepage:not(:hover) {
	transform: translateY(0);
}

.card-title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #18c1b3;
}

.card-homepage img {
	width: auto;
	height: auto;
	max-width: 100%;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
	.container-homepage {
		display: block;
		padding: 0 15px;
	}

	.card-homepage {
		width: 100%;
	}

	.card-title {
		font-size: 18px;
	}
}