/* I fuking hate CSS (still learning) */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 35px;
}

.faq-item {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.item-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.item-description {
    font-size: 16px;
    line-height: 1.5;
}

.tag-button {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

[data-theme="light"] .tag-button {
    background-color: #f2f2f2;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

[data-theme="light"] .tag-button:hover {
    background-color: #333;
    color: #fff;
}

[data-theme="dark"] .tag-button {
    background-color: #333;
    color: #f2f2f2;
    transition: background-color 0.3s, color 0.3s;
}

[data-theme="dark"] .tag-button:hover {
    background-color: #f2f2f2;
    color: #333;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
