/* Help me for the fucking style dude. */

.button-style {
    border: 1px solid transparent;
    margin-left: 5px;
    padding: 5px 20px;
    border-radius: 5px;
    transition: 0.2s;
    user-select: none;
    display: inline-block;
    margin-top: 7px;
    background-color: #0d6efd;
    color: #fff;
}

.button-style.last-button {
    margin-bottom: 10px;
}

.button-style:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.mirror-button-style {
    display: inline-block;
    margin-left: 5px;
    background: linear-gradient(to right, #242323 95%, #0d6efd 5%);
    padding: 6px 10px;
    user-select: none;
    color: white;
}

.block-download-link {
    border: #333 1px solid;
    margin: 10px;
    margin-bottom: 10px;
}

.line-download-link {
    border-top: #333 1px solid;
    margin-top: 10px;
}

.block-download-link h2,
.block-download-link h3,
.block-download-link p {
    margin-bottom: 0;
    border-bottom: #333 1px solid;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* Adjust styling for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
    .button-style {
        padding: 10px 15px; /* Adjust padding for smaller screens */
    }
}

/* Adjust styling for even smaller screens (e.g., very small devices) */
@media (max-width: 480px) {
    .button-style {
        padding: 10px; /* Further adjust padding for very small screens */
    }
}

/* Customize button styles for a light theme */
[data-theme='light'] .button-style {
    border-color: black;
    color: black;
}

